<% if (!user) { %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"></head>

<body class="<%= pagename %>
  " data-spy="scroll">
  <div class="container">
    <div class="row">
      <h1>Whoops...</h1>
      <h2>
        Gotta
        <a href="/auth/37signals">Login with 37signals</a>
        first.
      </h2>
    </div>
  </div>
  <% } else { %>

<div id="header">
<% include header.ejs %>
</div>


      <div id="container-wrapper" style="overflow:scroll; height:100%; padding:33px; padding-right:120px;">
      <div class="col-md-9"  style="overflow:scroll;">
        <h1 class="about-tools"> About our Tools </h1>
        <hr />
        <section id="communication">
          <h2>Communication</h2>


             <h3 id="github"><a a href="http://noodle.slack.com" target="_blank">Slack</a></h3>
          <ul>
            <li>Slack is our go-to for chat and file collaboration.</li>
            <li>
              You can access Slack chatrooms within this dashboard, our outside if you prefer.
            </li>
         
           </ul>



          <h3 id="github"><a a href="http://github.com" target="_blank">Github:</a></h3>
          <ul>
            <li>talk to dabella@noodle.org for access to repos</li>
            <li>
              Where the Product and Data/Engineering teams work.  We track bugs, features, and documentation all with Github.
            </li>
            <li>
              There are several repositories, some of them are:
              <ul>
                <li>NoodleEducation/noodle - main web app</li>
                <li>NoodleEducation/noodle-api - repo for all apis</li>
                <li>NoodleEducation/pes - where the app for editing data lives</li>
                <li>
                  NoodleEducation/noodledash - for our internal metrics dashboard (you're looking at)
                </li>
              </ul>
            </li>
            <li>
              <a href="https://github.com/NoodleEducation/noodle/wiki/Workflow-Process">How we work on github</a>
              <ul>
                <li>
                  the too long; don't read is: one brand = one feature or bug. Always cut from master, always turn into a pull requests in order get feedback early and enable collaboration.
                </li>
              </ul>
            </li>
          </ul>
          <h3 id="basecamp"><a href="https://basecamp.com/1772111" target="_blank">Basecamp:</a></h3>
          <ul>
            <li>
              Treat base camp as an ad hoc tool, it's simple, flexible, and used across the organization for project management and planning.
            </li>
            <li>
              Need to communicate with someone about a project but it needs a place to live that's more static than campfire, but it also is not quite ready for github?  This is the place to go.
            </li>
            <li>want to share some analysis or stats?  This the place to go.</li>
            <li>
              Want to get a discussion going around an idea that's not a  feature on one of our apps or you're not comfortable in github? This is the place to go.
            </li>
          </ul>
          <h3 is="highrise">Highrise:</h3>
          <ul>
            <li>Where our biz dev team manages and tracks deals.</li>
          </ul>
      
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Noodle Education 2012</p>
  </footer>

  <% } %>

  <% include scripts.ejs %>
  <% include end.ejs %>