<% include header.ejs %>
    <div class="container">
      <div class="row">
	<h1>Hi, <span class="display-name"><%= user.displayName %></span>.</h1>
    <p>Your user ID is <%= user.id %></p>
</div>
</div>



<% include scripts.ejs %>
<% include end.ejs %>
