
<div id="header" style="visibility:hidden;">
<% include header.ejs %>
</div>

<div id="container" class="overview-style-chat"> 

 <div id="content-wrapper assets" style="padding-top:50px;"> 
      <h1 style="text-align: center;">Chat Rooms</h1>
        <hr/>
<div class="row logos">
  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" style=" ">
      <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:200px"/>
      <div class="caption">
        <h3>All Noodle</h3>
        <p><a href="/i/team-board" class="btn btn-primary" role="button">Enter</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail">
      <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:200px" />
      <div class="caption">
        <h3>Product</h3>
        <p><a href="/i/product-board" class="btn btn-primary" role="button">Enter</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail">
    <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:200px"/>
      <div class="caption">
        <h3>Marketing</h3>
        <p><a href="/i/marketing-board" target="_top" class="btn btn-primary">Enter</a></p>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail">
      <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:250px">
      <div class="caption">
        <h3>Engagement</h3>
        <p><a href="/i/engagement-board" target="content-frame" class="btn btn-primary" role="button">Enter</a> </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" >
      <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:200px"/>
      <div class="caption">
        <h3>Development</h3>
        <p><a href="/i/dev-board" target="_top" class="btn btn-primary" role="button">Enter</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" >
      <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:200px"/>
      <div class="caption">
        <h3>Revenue</h3>
        <p><a href="/i/rev-board" target="_parent" class="btn btn-primary" role="button">Enter</a></p>
      </div>
    </div>
  </div>
   <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" >
      <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:200px"/>
      <div class="caption">
        <h3>Search</h3>
        <p><a href="/i/search-board" target="_self" class="btn btn-primary" role="button">Enter</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" style=" " >
       <img src="/images/chat-icon.png" style="background-color: #000000; border-radius: 5px; max-width:200px"/>
       <div class="caption">
        <h3>Random</h3>
        <p><a href="/i/search-random" download="NoodleMan" class="btn btn-primary" role="button">Enter</a></p>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<!-- /container -->

<% include scripts.ejs %>
<% include end.ejs %>
