
<div id="header" style="visibility:hidden;">
<% include header.ejs %>
</div>

<div id="container" class="overview-style-chat">

 <div id="content-wrapper assets" style="padding-top:50px;">

      <div><strong>JSON feed of Slack posts:</strong></div>
        <div id="slackfeed">
            <div id="title"></div>
            <div id="url"></div>
            <div id="preview"></div>
            <div id="permalink"></div>
            <div id="id"></div>
            <div id="timestamp"></div>
        </div>

</div>
</div>
<!-- /container -->

<% include slack_api.ejs %>
<% include end.ejs %>
