<% include header.ejs %>
<div id="container">
	<div id="menu-wrapper">
		<% include menu.ejs %>
	</div>
	<div id="content-wrapper">
		<iframe id="content-frame" border="0" width="100%" height="100%" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" src="<%= referencesite %>
		">
		</iframe>
	</div>
</div>
<!-- /container -->
<% include scripts.ejs %>
<% include end.ejs %>