<% if (!user) { %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="../assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"></head>

<body class="<%= pagename %>
  " data-spy="scroll" data-target="#nav-metrics">
  <div class="container">
    <div class="row">
      <h1>Noodle Dashboard</h1>
      <h2>
        <a href="/auth/37signals">Login with 37signals</a>
      </h2>
    </div>
  </div>
  <% } else { %>

  <% include header.ejs %>

  <div class="container">
    <div class="row main">
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print affix" role="complementary">
          <ul class="nav bs-sidenav" id="nav-metrics">
            <li>
              <a href="#noodle">Noodle</a>
            </li>
            <li>
              <a href="#marketing">Marketing</a>
            </li>
            <li>
              <a href="#product">Product</a>
            </li>
            <li>
              <a href="#tech">Technology</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <section id="noodle">
          <div class="row">
            <h2>Noodle</h2>
            <div class="well">
              <h4>Uniques, trailing 30: <%= visitorsLast30Days %></h4>
              <h4>Registrations today: [put here]</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3>Unique Visitors</h3>
              <div id="dailyVisitors" style="height:250px;"></div>
              <div id="dailyVisitorsSelector" style="height:50px;"></div>
            </div>
            <div class="col-md-6">
              <h3>% of New Users that Register</h3>
                <div id="dailyRegistrationPercentage" style="height:250px;"></div>
                <div id="dailyRegistrationPercentageSelector" style="height:50px;"></div>
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="row">
          </div>
        </section>
        <section id="marketing">
          <hr>
          <h2>Marketing</h2>
          <div class="row" style="text-align:center;">
            <div class="col-md-6">
              <h4>New Visitors</h4>
                <div id="dailyVisitorsNew" style="height:250px;"></div>
                <div id="dailyVisitorsNewSelector" style="height:50px;"></div>
            </div>
            <div class="col-md-6">
              <h4>Daily Cost per Clicks</h4>
              <div id="dailyCPC" style="height:250px;"></div>
              <div id="dailyCPCSelector" style="height:50px;"></div>
            </div>
          </div>
        </section>
        <section id="product">
          <hr>
          <h2>Product</h2>
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-12" style="text-align:center;">
              <h4>Net Promoter Score</h4>
              <div id="netPromoterScoreDataTable">
                <iframe width='375' height='345' frameborder='none' src='https://docs.google.com/spreadsheet/pub?key=0AlSYdTPOhBEadHFWRHQ3cGdiRzA0WXpsM0prblM0M3c&single=true&gid=0&range=A1%3AC20&output=html&widget=false'></iframe>
              </div>
            </div>
          </div>
        </section>
      </div>
      <hr>
      <footer>
        <p>&copy; Noodle Education 2012</p>
      </footer>

      <!--/.fluid-container-->

      <% } %>

      <% include scripts.ejs %>
      <% include end.ejs %>