<% include header.ejs %>

    <div class="container">

 <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>
<script language="JavaScript">
var Quotation=new Array() // do not change this!

Quotation[0] = "Boy, you're something!";
Quotation[1] = "Fortune and glory, kid.";
Quotation[2] = "Snakes. Why did it have to be snakes?";
Quotation[3] = "You call *this* archaeology?";
Quotation[4] = "I like Indiana.";
Quotation[5] = "I'm gonna blow up the Ark, Rene. ";
Quotation[6] = "This should be in a museum!";
Quotation[7] = "Dad, are we hit?";
Quotation[8] = "Wave it at anything that slithers.";
Quotation[9] = "Give me the whip.";
var Q = Quotation.length;
var whichQuotation=Math.round(Math.random()*(Q-1));
function showQuotation(){document.write(Quotation[whichQuotation]);}
showQuotation();
</script>
        </h1>
      </div>

      <!-- Example row of columns -->
    <div class="row">
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="https://noodleeducation.campfirenow.com" target="_new">
				<img class="img-rounded service-logo" src="/images/campfire.png">
				</a>
                  <div class="caption">
                    <h3>Campfire</h3>
                    <p class="description">Our internal chat client, where people can get work done, do standups, and ask NoodleBot for help (type noodlebot help).</p>
                    <p><a href="https://noodleeducation.campfirenow.com" target="_new" class="btn btn-primary">Get Chatty</a></p>
                  </div>
                </div>            
    	</div>
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="http://noodle.basecamp.com" target="_new">
				<img class="img-rounded service-logo" src="/images/basecamp.png">
				</a>
                  <div class="caption">
                    <h3>Basecamp</h3>
                    <p class="description">Where the Product team prepares and discusses features before they are ready for primetime.</p>
                    <p><a href="http://noodle.basecamp.com" target="_new" class="btn btn-primary">Checkout Projects</a></p>
                  </div>
                </div>            
    	</div>
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="http://thevault.noodle.org" target="_new">
				<img class="img-rounded service-logo" src="/images/thevault.jpeg">
				</a>
                  <div class="caption">
                    <h3>TheVault</h3>
                    <p class="description">Where the Data team stores information that's not yet ready for the site.</p>
                    <p><a href="http://thevault.noodle.org" target="_new" class="btn btn-primary">View Data</a></p>
                  </div>
                </div>            
    	</div>
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="http://www.pivotaltracker.com" target="_new">
				<img class="img-rounded service-logo" src="/images/pivotal.jpeg">
				</a>
                  <div class="caption">
                    <h3>Pivotal</h3>
                    <p class="description">How the Product &amp; Tech teams track features as they get launched. You can see a backlog of work, and how each team is doing on the sprint.</p>
                    <p><a href="http://www.pivotaltracker.com" target="_new" class="btn btn-primary">Watch Code</a></p>
                  </div>
                </div>            
    	</div>
      </div>




    </div> <!-- /container -->

<% include scripts.ejs %>
<% include end.ejs %>

    
