<% include header.ejs %>


    <div class="container">
      <div class="row">
        <div class="span3 sidebar-nav bs-docs-sidebar">
            <ul class="nav nav-list well bs-docs-sidenav affix">
              <li class="active"><a href="#tools">Tools</a></li>
              <li><a href="#executive-summary">Executive Summary</a></li>
              <li><a href="#marketing">Marketing</a></li>
              <li><a href="#product">Product</a></li>
              <li><a href="#tech">Tech</a></li>
              <li><a href="#pros">Pros</a></li>
              <li><a href="#labs">Labs</a></li>
            </ul>
        </div><!--/span-->
        <div class="span9">
        <div class="alert alert-block">
          <a class="close" data-dismiss="alert">×</a>
          <h4 class="alert-heading">
          <script language="JavaScript">
var Quotation=new Array() // do not change this!

Quotation[0] = "Boy, you're something!";
Quotation[1] = "Fortune and glory, kid.";
Quotation[2] = "Why did it have to be snakes?";
Quotation[3] = "You call *this* archaeology?";
Quotation[4] = "I like Indiana.";
Quotation[5] = "I'm gonna blow up the Ark, Rene. ";
Quotation[6] = "This should be in a museum!";
Quotation[7] = "Dad, are we hit?";
Quotation[8] = "Wave it at anything that slithers.";
Quotation[9] = "Give me the whip.";
Quotation[10] = "It's not the years, honey, it's the mileage.";
Quotation[11] = " I don't know, I'm makin' this up as I go.";
Quotation[12] = "Do we need the monkey?";
var Q = Quotation.length;
var whichQuotation=Math.round(Math.random()*(Q-1));
function showQuotation(){document.write(Quotation[whichQuotation]);}
showQuotation();
</script>
          </h4>
        </div>
<section id="tools">
          <div class="row-fluid">
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="https://noodleeducation.campfirenow.com" target="_new">
				<img class="img-rounded service-logo" src="/images/campfire.png">
				</a>
                  <div class="caption">
                    <h3>Campfire</h3>
                    <p class="description">Our internal chat client, where people can get work done, do standups, and ask NoodleBot for help (type /help).</p>
                    <p><a href="https://noodleeducation.campfirenow.com" target="_new" class="btn btn-primary">Get Chatty</a></p>
                  </div>
                </div>            
    	</div>
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="http://noodle.basecamp.com" target="_new">
				<img class="img-rounded service-logo" src="/images/basecamp.png">
				</a>
                  <div class="caption">
                    <h3>Basecamp</h3>
                    <p class="description">Where the Product team prepares and discusses features before they are ready for primetime.</p>
                    <p><a href="http://noodle.basecamp.com" target="_new" class="btn btn-primary">Checkout Projects</a></p>
                  </div>
                </div>            
    	</div>
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="http://thevault.noodle.org" target="_new">
				<img class="img-rounded service-logo" src="/images/thevault.jpeg">
				</a>
                  <div class="caption">
                    <h3>TheVault</h3>
                    <p class="description">Where the Data team stores information that's not yet ready for the site.</p>
                    <p><a href="http://thevault.noodle.org" target="_new" class="btn btn-primary">View Data</a></p>
                  </div>
                </div>            
    	</div>
    	<div class="span3">
    	    <div class="thumbnail">
   			    <a href="http://www.pivotaltracker.com" target="_new">
				<img class="img-rounded service-logo" src="/images/pivotal.jpeg">
				</a>
                  <div class="caption">
                    <h3>Pivotal</h3>
                    <p class="description">How the Product &amp; Tech teams track features as they get launched. You can see a backlog of work, and how each team is doing on the sprint.</p>
                    <p><a href="http://www.pivotaltracker.com" target="_new" class="btn btn-primary">Watch Code</a></p>
                  </div>
                </div>            
    	</div>
          </div><!--/row-->
	</section>
	<section id="executive-summary">
	<hr>
		<div class="row-fluid">
			<div class="span4">
        <div class="executiveSummaryHeader">
        <h3>Uniques</h3>
        </div>
        <div id="dailyVisitors" style="height:150px;"></div>
        <div id="dailyVisitorsSelector" style="height:30px;"></div>
			</div>
      <div class="span4"> 
        <div class="executiveSummaryHeader"> 
          <h3>Page Views</h3>
        </div>
          <div id="dailyPageViews" style="height:150px;"></div>
          <div id="dailyPageViewsSelector" style="height:30px;"></div>
      </div>
    <div class="span4">  
      <div class="executiveSummaryHeader"> 
        <h3>Average Time on Site</h3>       
      </div>
        <div id="dailyTimeOnSite" style="height:150px;"></div>
        <div id="dailyTimeOnSiteSelector" style="height:30px;"></div>
    </div>
	</div>
	</section>         
	<section id="marketing">
    <hr>
    <h2>Marketing</h2>
		<div class="row-fluid">
			<div class="span3">
        <h4>New Visitors</h4>
        <div id="dailyVisitorsNew" style="height:150px;"></div>
        <div id="dailyVisitorsNewSelector" style="height:30px;"></div>
      </div>
      <div class="span3">
        <h4>PR Impressions: {today or week}</h4>
        <h4>PR Impressions: {trailing 8 weeks}</h4>
      </div>
      <div class="span3">
        <h4>Visitors that Register</h4>
        <div id="dailyRegistrationEvents" style="height:150px;"></div>
        <div id="dailyRegistrationEventsSelector" style="height:30px;"></div>
      </div>
      <div class="span3">
        <h4>Net Promoter Score</h4>
      </div>
		</div>
	</section>         
	<section id="product">
    <hr>
    <h2>Product</h2>
		<div class="row-fluid">
			<div class="span12">
				Will contain:
				•	Uniques
<br />•	Page Views
<br />•	Average Time on Site
<br />-	Per user (per month), not per visit
<br />•	% of first time visits who register (
<br />•	# of registered users (Active users per 6 months) 
<br />(We can determine new users from this)
<br />•	Virality/Sharing
<br />•	Feedback
<br />•	What % of Users went to each section?
<br />-	K-12
<br />-	Higher Education
<br />-	Supplemental Learning
<br />-	Learning Content
<br />•	Customer Satisfaction – Internal Users
<br />•	Customer Satisfaction – by Customer Survey
<br />•	Number of Verticals Launched (MVP)

			</div>
		</div>
	</section>         
	<section id="tech">
    <hr>
    <h2>Tech</h2>
		<div class="row-fluid">
			<div class="span10">
				Will contain:
				<ul>
				<li>Uniques</li>
        <li>Uptime (from AWS monitoring)</li>
        <li>Page Load for Key Pages</li>
				</ul>
			</div>
		</div>
	</section>         
    <section id="pros">
    <hr>
      <h2>Pros</h2>
		<div class="row-fluid">
			<div class="span10">
				Will contain:
				Data v Last Year
<br />-	Total Tutors
<br />-	Active Tutors
<br />-	# Students
<br />-	New Students
<br />-	# Hours
<br />-	Gross Revenue
<br />-	Noodle Gross Revenue
<br />-	Cities Served
<br />-	Customer Satisfaction

			</div>
		</div>
	</section>         
    	<section id="labs">
    <hr>
        <h2>Labs</h2>
		<div class="row-fluid">
			<div class="span10">
				Will contain:
				P&L + Balance Sheet
			</div>
		</div>
	</section>         
    <hr>
      <footer>
        <p>&copy; Noodle Education 2012</p>
      </footer>

    </div><!--/.fluid-container-->






<% include scripts.ejs %>
<% include end.ejs %>

    
