<link rel="stylesheet" type="text/css" href="style.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="menu-shadow">
	<div class="backpack-top-bar">
        </div>
<ul class="menu">
		<li class="item1"><a href="#"><!-- <i class="fa fa-bar-chart-o"></i> -->Analytics</a>
		<ul>
			<li class="subitem1"><a href="/i/executive" class="fa sub" ><!-- <i class="fa fa-globe"> </i>-->Executive</a></li>
			<li class="subitem2"><a href="/i/performance" class="fa sub"><!-- <i class="fa fa-cogs"></i> -->Performance</a></li>
			<li class="subitem3"><a href="/i/marketing" class="fa sub"><!-- <i class="fa fa-flag-checkered"> </i>-->Marketing</a></li>
			<li class="subitem4"><a href="/i/engagement" class="fa sub"><!-- <i class="fa fa-flask"></i> -->Engagement</a></li> 
		</ul>
		<li class="item1"><a href="#"><!-- <i class="fa fa-pencil-square-o"></i> -->Chat & Posts</a>
		<ul>
			<li class="subitem1"><a href="/i/team-board" class="fa sub"><!-- <i class="fa fa-users"></i> --> All Noodle</a></li>
			<li class="subitem2"><a href="/i/performance-board" class="fa sub"><!-- <i class="fa fa-barcode"></i> -->Product</a></li>
			<li class="subitem3"><a href="/i/marketing-board" class="fa sub"><!-- <i class="fa fa-flag-checkered"></i> -->Marketing</a></li>
			<li class="subitem4"><a href="/i/engagement-board" class="fa sub"><!-- <i class="fa fa-flask"></i> -->Engagement</a></li>
			<li class="subitem5"><a href="/i/dev-board" class="fa sub"><!-- <i class="fa fa-code"></i>-->Development</a> </li>
			<li class="subitem6"><a href="/i/rev-board" class="fa sub"><!-- <i class="fa fa-money"></i> -->Revenue</a></li>
			<li class="subitem7"><a href="/i/search-board" class="fa sub"><!-- <i class="fa fa-search"></i></i> -->Search</a></li>
			<li class="subitem8"><a href="/i/search-random" class="fa sub"><!-- <i class="fa fa-random"></i></i> -->Random</a></li>
		</ul>
		</li>
		<li class="item2"><a href="/tools"><!-- <i class="fa fa-wrench"></i>  -->Tools </a>
		<ul>
			<li class="subitem1"><a href="/tools" class="fa sub"><!-- <i class="fa fa-power-off"></i> -->Tools</a></li>
			<li class="subitem2"><a href="/about" class="fa sub"><!-- <i class="fa fa-info-circle"></i> --></i>About</a></li>
		</ul>
		</li>
		<li class="item3"><a href="#"><!-- <i class="fa fa-inbox"></i> --> Assets</a>
		<ul>
			<li class="subitem1"><a href="/i/brandguide" class="fa sub"><!-- <i class="fa fa-folder"></i> -->Brand Guide</a></li>
			<li class="subitem2"><a href="/manual" class="fa sub"><!-- <i class="fa fa-folder"></i> -->Employee Handbook</a></li>
			<li class="subitem3"><a href="/ppt" class="fa sub"><!-- <i class="fa fa-folder"></i> -->PowerPoint Template</a></li>
			<li class="subitem4"><a href="/resources" class="fa sub"><!-- <i class="fa fa-tag"></i> -->Logo's</a></li>
		</ul>
		</li>
		<li class="item4"><a href="#"><!-- <i class="fa fa-users"></i>  -->Social</a>
		<ul>
			<!-- <li class="subitem1"><a href="/social"><i class="fa fa-twitter"></i><i class="fa fa-facebook"></i><i class="fa fa-pinterest"></i></a></li> -->
			<li class="subitem2"><a href="/i/explore" class="fa sub"><<!-- i class="fa fa-lightbulb-o"></i>  -->Explore Blog</a></li>
		</ul>
		</li>
		<li class="item5"><a href="#"><!-- <i class="fa fa-anchor"></i>  -->Chelsea Piers</a>
		<ul>
			<!-- <li class="subitem1"><a href="/i/chelsea-piers"><i class="fa fa-bullhorn"></i> NewsRoom</a></li> -->
			<li class="subitem2"><a href="/i/class-schedule" class="fa sub"><!-- <i class="fa fa-calendar"></i>  -->Class Schedule</a></li>
		</ul>
		</li>
	</ul>
</div>



