
<div id="header" style="visibility:hidden;">
<% include header.ejs %>
</div>

<div id="container" class="overview-style-chat"> 

 <div id="content-wrapper assets" style="padding-top:50px;"> 
      <h1 style="text-align: center;">Posts</h1>
    
</div>
</div>
<!-- /container -->

<% include scripts.ejs %>
<% include end.ejs %>
