<div id="header">
	<% include header.ejs %>
</div>
<div id="container">
	<div id="menu-wrapper">
		<% include menu.ejs %>
	</div>
	<div class="content-wrapper padding">
		<h1>Powerpoint</h1>
		<hr/>
		<a class="btn btn-primary btn-lg" download="/assets/Noodle_PPTtemplate_1.potx" href="/assets/Noodle_PPTtemplate_1.potx">Download Powerpoint Template</a>
		<hr/>
		<p>
			Save this file to your harddrive and then open with powerpoint. Click "save as" and then select "Powerpoint Template" as the format. You should be able to create new powerpoints with this as a starting point.
		</p>
	</div>
</div>
<!-- /container -->
<% include scripts.ejs %>
<% include end.ejs %>