<div class="alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert">OK ×</button>
            <strong>Head's Up!</strong> This is sensitive information to be shared only throughout Noodle. Need the password? Aryeh Morris can help.
</div>