<% if (!user) { %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body class="<%= pagename %>" data-spy="scroll">
    <div class="container">
      <div class="row">
    <h1>Whoops...</h1>
    <h2>Gotta <a href="/auth/37signals">Login with 37signals</a> first.</h2>
</div>
</div>
<% } else { %>

<div id="header">
<% include header.ejs %>
</div>



<div id="menu-wrapper">

<% include menu.ejs %>

</div>

<div id="container"> 

 <div id="content-wrapper assets" style="padding-top:50px; "> 
      <h1 style="text-align: center;">Logo's</h1>
        <hr/>
<div class="row logos">
  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" style="max-width:250px;">
      <img src="/assets/Noodle_logo_small.png" style="max-width:250px"/>
      <div class="caption">
        <h3>Small Logo</h3>
        <p><a href="/assets/Noodle_logo_small.png" download="Noodle_Logo_Small" class="btn btn-primary" role="button">Download</a> <a href="/assets/Noodle_logo_small.png" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" style="max-width:250px;">
      <img src="/assets/Noodle_logo_medium.png" />
      <div class="caption">
        <h3>Medium Logo</h3>
        <p><a href="/assets/Noodle_logo_medium.png" download="Noodle_Logo_Medium" class="btn btn-primary" role="button">Download</a> <a href="/assets/Noodle_logo_medium.png" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail">
    <img src="/assets/Noodle_logo.png" style="max-width:220px"/>
      <div class="caption">
        <h3>Large Logo</h3>
        <p><a href="/assets/Noodle_logo.png" download="Noodle_Logo_Large" class="btn btn-primary" role="button">Download</a> <a href="/assets/Noodle_logo.png" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

<div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail">
      <img src="/assets/Noodle_logo_white_small.png" style="background-color: #000000; border-radius: 5px; max-width:250px">
      <div class="caption">
        <h3>Small Logo (White)</h3>
        <p><a href="/assets/Noodle_logo_white_small.png" download="Noodle_Logo_Small_White" class="btn btn-primary" role="button">Download</a> <a href="/assets/Noodle_logo_white_small.png" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" >
      <img src="/assets/Noodle_logo_white_medium.png" style="background-color: #000000; border-radius: 5px; max-width:200px"/>
      <div class="caption">
        <h3>Medium Logo (White)</h3>
        <p><a href="/assets/Noodle_logo_white_medium.png" download="Noodle_Logo_White_Medium" class="btn btn-primary" role="button">Download</a> <a href="/assets/Noodle_logo_white_medium.png" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4" style="max-width:250px">
    <div class="thumbnail" style="max-width:250px;">
       <img src="/assets/Noodleman.png" />
       <div class="caption">
        <h3>NoodleMan</h3>
        <p><a href="/assets/Noodleman.png" download="NoodleMan" class="btn btn-primary" role="button">Download</a> <a href="/assets/Noodleman.png" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
</div>

<!-- <img src="/assets/Noodle_logo_small.png" />
<img src="/assets/Noodle_logo_medium.png" />
<img src="/assets/Noodle_logo_white_medium.png" />
 <img src="/assets/Noodle_logo.png" />
  <a href="/assets/Noodle_logo.ai">Vector Version of Logo |</a>
  <a href="/assets/Noodle_logo_white.ai">Vector Version of Logo (White)</a> 
 <p><a href="/assets/Noodle_BrandGuide.pdf">Download Brand Guide</a></p>
<h1>Powerpoint</h1>
<p><a href="/assets/Noodle_PPTtemplate_1.potx">Download Powerpoint Template</a></p>
<p>Save this file to your harddrive and then open with powerpoint. Click "save as" and then select "Powerpoint Template" as the format. You should be able to create new powerpoints with this as a starting point.</p>
<!-- Controls -->

</div>
</div>
<!-- /container -->
  <% } %> 


<% include scripts.ejs %>
<% include end.ejs %>
