<div id="header">
<% include header.ejs %>
</div>

<div id="container">

<div id="menu-wrapper">

<% include menu.ejs %>

</div>


<div id="content-wrapper">
     
    <a class="twitter-timeline" href="https://twitter.com/NoodleEducation" data-widget-id="428179271077462017">Tweets by @NoodleEducation</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div> 
<!-- /container -->

<% include scripts.ejs %>
<% include end.ejs %>

    

