<section id="tools">
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <a class="pull-left" href="https://noodleeducation.campfirenow.com" target="_new">
                  <img class="img-rounded service-logo" src="/images/campfire.png"></a>
                <div class="media-body">
                  <h4 class="media-heading">Campfire</h4>
                  <p class="description">
                    Our internal chat client, where people can get work done, do standups, and ask NoodleBot for help (type /help).  Use Flint.
                  </p>
                  <p>
                    <a href="https://noodleeducation.campfirenow.com" target="_new" class="btn btn-primary">Chat</a>
                  </p>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="https://github.com/NoodleEducation/" target="_new">
                  <img class="img-rounded service-logo" src="/images/github.png"></a>
                <div class="media-body">
                  <h4 class="media-heading">Github</h4>
                  <p class="description">
                    Where the product, tech, and data teams work - all of our code and collaboration happens here.
                  </p>
                  <p>
                    <a href="https://github.com/NoodleEducation/" target="_new" class="btn btn-primary">Code</a>
                  </p>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="https://basecamp.com/1772111" target="_new">
                  <img class="img-rounded service-logo" src="/images/basecamp.png"></a>
                <div class="media-body">
                  <h4 class="media-heading">Basecamp</h4>
                  <p class="description">
                    Where teams discuss projects and ideas before github.
                  </p>
                  <p>
                    <a href="https://basecamp.com/1772111" target="_new" class="btn btn-primary">Projects</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--/row--> </section>