<div id="header" style="visibility:hidden;">
    <% include header.ejs %>
</div>
<div id="container" class="overview-style-tools">
    <div class="content-wrapper assets" style="overflow:scroll;">
        <h1 style="text-align: center;">Tools</h1>
        <hr/>
     <div class="tool-row">
        <div class="img-with-text card">
            <a href="http://www.noodle.basecamp.com" target="_blank"><img class="tool" src="images/basecamp.png">Basecamp</a>
        </div>
        <div class="img-with-text card">
            <a href="https://noodle.slack.com" target="_blank"><img class="tool" src="images/slack.png" style="width:110px;">Slack</a>
        </div>
        <div class="img-with-text card">
            <a href="https://noodle.highrisehq.com/login" target="_blank"><img class="tool" src="images/highrise.png">Highrise</a>
        </div>
    </div>
     <div class="tool-row">
        <br/>
        <div class="img-with-text card">
            <a href="https://github.com/NoodleEducation/noodle" target="_blank"><img class="tool" src="images/github.png">Github</a>
        </div>
        <div class="img-with-text card">
            <a href="http://www.google.com/mail" target="_blank"><img class="tool" src="images/gmail.png">Gmail</a>
        </div>
        <div class="img-with-text card">
            <a href="http://www.google.com/calendar" target="_blank"><img class="tool" src="images/gcal.png">Calendar</a>
        </div>
           </div>
    </div>
</div>


<!-- /container -->
<% include scripts.ejs %>
<% include end.ejs %>