<div id="content-wrapper" style=" background-color:#ffffff">
     <div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">Got it ×</button>
            <strong>Welcome, <%= user.displayName %>!</strong> Here's where you can access Noodle's analytics, tools and resources (employee handbook, logo's etc.).
</div>