.main {
	margin-top: 5em;
}

.section-header {
	padding-bottom: 0.3em;
}

.table-title {
	text-align: center;
}

.graph-medium {
	height: 250px;
}

.graph-selector {
	height: 50px;
}

.btn-group-modal {
	padding-bottom: 2em;
}